<div class="container landing">
  <h1>Have something you're working on?</h1>
  <p style="text-align:center;">
  We're always open to hearing your ideas! Please tell us a little about yourself and I'll get back very shortly. Thank you!
  </p>
  <fieldset>
    <%= form_for @lead do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :notes, "About yourself, or company" %>
      <%= f.text_area(:notes, rows: 10) %>

      <%= f.submit "Send" %>
    <% end %>
  </fieldset>
</div>
