<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="HTFzsglnTIDE7iZclnzVt2pnKvU_u6VWYhWt48RCy7g" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>BrownTreeLabs</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper-for-content-outside-of-footer">
  <%= render "flashes" %>
  <%= render partial: "refills/centered_navigation" %>
  <%= yield %>
</div>
<%= render partial: "refills/footer_2" %>
</body>
</html>
